้html,body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kodchasan", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.main {
    max-width: 700px;
    margin: auto;
}
.a {
    background-color: rgb(255, 253, 252) ;
    margin: 30px;
    padding: 20px;
}

img {
    width: 500px;
    padding: 45px;
    border-radius: 10 px;
}

.click {
    color:black ;
    background-color:rgb(254, 240, 218);
    text-align :center ;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block ;
    width: 30%;
}

.imge {
    width: 500px;
    padding: 45px;
    border-radius: 10 px;
}

.love {
    background-color: rgb(255, 253, 252) ;
    margin: 30px;
    padding: 20px;
    border-radius: 10 px;
}

.nolove {
    background-color: rgb(255, 253, 252) ;
    margin: 30px;
    padding: 20px;
    border-radius: 10 px;
}

.sad {
    width: 500px;
    padding: 45px;
}

.botton {
    font-size: 100px;
    background-color: bisque;
    width: 100px;
} 

.music {
    color: black;
    background-color: rgb(255, 208, 220);
    text-align :center ;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block ;
    width: auto ;
}
